@import 'tailwindcss';

@theme {
	--default-font-family: times new roman,times,serif;
}

@layer base {
	html, body {
		@apply size-full antialiased;
		/* disable mobile tap zoom, etc */
		touch-action: manipulation;
	}
	body {
		@apply text-base sm:text-[17px];
		text-rendering: optimizeLegibility;
	}
	button {
		@apply hover:cursor-pointer underline decoration-solid hover:underline-offset-2;
	}
	button.form {
		@apply no-underline bg-white drop-shadow-sm drop-shadow-black/30 
			text-[17px] rounded-md leading-none py-[1px] px-3
			hover:bg-neutral-50 active:scale-[98%];
	}
	a {
		@apply underline decoration-solid hover:underline-offset-2;
	}
	input {
		@apply border-b flex-1;
	}
	label {
		@apply flex flex-row gap-2 max-sm:justify-between text-base  items-center;
	}
	.btn-ui {
		@apply aspect-square w-10 sm:min-w-8 p-2 flex items-center justify-center rounded-xl backdrop-blur-sm
			bg-zinc-600/50 hover:bg-zinc-500/40 transition-all text-white
			disabled:bg-zinc-400/40 disabled:text-white/50 disabled:opacity-60 disabled:cursor-not-allowed disabled:backdrop-blur-xs
			active:scale-95;
		&.selected {
			@apply shadow-[inset_0_0_0_2px_rgba(255,255,255,0.9)] ring-neutral-500/50 ring-[1px];
		}
	}
}

@utility postcard-shadow-hover {
	box-shadow: rgba(17, 12, 46, 0.025) 0px 20px 10px -0px, rgba(0, 0, 0, 0.9) 0px 1px 1px -1px;
}
@utility postcard-shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 2px -1px, rgba(0, 0, 0, 0.9) 0px 1px 2px -1px;
}

/* measure element based on parent's size */
.aspect-container {
	container-type: size;
}
@container (aspect-ratio > 1) {
	.aspect-box {
		height: 100%;
		width: auto;
	}
}
@container (aspect-ratio <= 1) {
	.aspect-box {
		width: 100%;
		height: auto;
	}
}

/* postard canvas-like grid  */
.grid-bg {
  background-image: 
    linear-gradient(to right, #dedddd .5px, transparent .5px),
    linear-gradient(to bottom, #dedddd .5px, transparent .5px);
  background-size: 10px 10px; /* adjust grid cell size */
}